<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>

<body>
<div class="container">
    <h2>Main</h2>
    <form action="/dbs" method="post">
        <input type="submit" value="DBS share prediction">
    </form>
    <form action="/creditability" method="post">
        <input type="submit" value="Check Creditability">
    </form>
    <form action="/" method="post">
        <input type="submit" value="Logout">
    </form>
</div>
</body>
